img {
	position: relative;
	float: right;
	width: 40px;
	height: 40px;
}

.delta {
	color: red;
}

.posDelta {
	color: green;
}

#totalRow {
	border: 2px solid black;
}

.btn-primary {
	float: center;
}

.loginInputs {
	display: inline;
	text-align: center;
}

.header {
	text-align: center;
	width: 100%;
}

.active {
	color: red;
}

.container {
	position: relative;
	background-color: #ADD8E6;
	padding: 0 20px;
}

.container h1 {
	text-align: center;
	border: 3px solid black;
}

.footer {
	bottom: 0;
	color: white;
	position: fixed;
	width: 100%;
	left: 0;
}

.complete {
	color: #bbb;
	text-decoration: line-through;
}

.separator {
	background-color: black;
	padding: 10px 0px 0px 0px;
}

li {
	display: inline;
	padding: 0px 30px 0px 30px;
}

ul {
	background: black;
	padding: 10px 0px 10px 0px;
}

a {
	color: white;
}