<!DOCTYPE html>
<html>
	<head>
		<title>Movie Production App</title>
		<link rel='stylesheet' type='text/css' href='../stylesheets/bootstrap.css'>
		<link rel='stylesheet' type='text/css' href='../stylesheets/styles.css'>
	</head>
	
	<body>
		<div class='header'>
			<ul class'navbar'>
				<li class='home'>
					<a href='file:///Users\brianiversen\Desktop\Coding\MovieApp\index.html'>Home</a>
				</li>
				<li class='tasklist'>
					<a href='file:///Users\brianiversen\Desktop\Coding\MovieApp\html\tasklist.html' class='active'>Tasklist</a>
				</li>
				<li class='budget'>
					<a href='file:///Users\brianiversen\Desktop\Coding\MovieApp\html\budget.html'>Budget</a>
				</li>
				<li class='schedule'>
					<a href='file:///Users\brianiversen\Desktop\Coding\MovieApp\html\schedule.html'>Schedule</a>
				</li>
				<li class='multimedia'>
					<a href='file:///Users\brianiversen\Desktop\Coding\MovieApp\html\multimedia.html'>Multimedia</a>
				</li>
			</ul>
		</div>
		
		<div class='container' id='taskManager'>
			<h1>Tasklist Manager</h1>
		</div>
		
		<div class='separator'>
		</div>
		
		<div class='page'>
		</div>
		
		<div class='separator'>
		</div>
		
		<script type='text/template' id='complete-list-template'>
			<form class='complete-list-form'>
				<legend><%= todoItem.get('statusCheck')!='complete' ? 'Complete Task' : 'Re-Open Task' %></legend>
				<label>Scheduled Completion</label>
				<label><%= todoItem.get('schedule') %></label>
				<label>Actual Completion</label>
				<input type='date' id='actualComplete' name='actualComplete' value="<%= todoItem.get('actualComplete') %>"/>
				<label>Scheduled Budget</label>
				<label><%= todoItem.get('budget') %></label>
				<label>Actual Budget</label>
				<input type='text' name='actualSpend' id='actualSpend' value="<%= todoItem.get('actualSpend') %>"/>
				<hr />
				<button type='submit' class='btn completed'><%= todoItem.get('statusCheck')!='complete' ? 'Complete' : 'Re-Open'%>
			</form>
		</script>
		
		<script type='text/template' id='edit-list-template'>
			<form class='edit-todo-form'>
				<legend><%= todoItem ? 'Update ' : 'Create ' %>User</legend>
				<label>Task ID</label>
				<input type='number' name='taskID' value="<%= todoItem ? todoItem.get('taskID') : '' %>" />
				<label>Description</label>
				<input type='text' name='description' value="<%= todoItem ? todoItem.get('description') : '' %>" />
				<label>Owner</label>
				<input type='text' name='owner' value="<%= todoItem ? todoItem.get('owner') : '' %>" />
				<label>Schedule</label>
				<input type='date' name='schedule' value="<%= todoItem ? todoItem.get('schedule') : '' %>" />
				<label>Budget</label>
				<input type='number' name='budget' value="<%= todoItem ? todoItem.get('budget') : '' %>" />
				<label>Task Dependencies (Link to TaskID)</label>
				<input type='number' name='criticals' value="<%= todoItem ? todoItem.get('criticals') : '' %>" />
				<hr />
				<button type='submit' class='btn'><%= todoItem ? 'Update ' : 'Create ' %></button>
				<button class='btn cancel'>Cancel</button>
				<% if(todoItem) {%>
					<input type='hidden' name='id' value='<%= todoItem.id %>'>
					<input type='hidden' name='actualComplete' value='<%= todoItem.get("actualComplete") %>'>
					<input type='hidden' name='statusCheck' value='<%= todoItem.get("statusCheck") %>'>
					<input type='hidden' name='actualSpend' value='<%= todoItem.get("actualSpend") %>'>
					<input type='hidden' name='diffDays' value='<%= todoItem.get("diffDays") %>'>
					<button class='btn btn-danger delete'>Delete</button>
				<% }; %>
			</form>
		</script>
		
		<script type='text/template' id='todo-list-template'>
			<a href='#/new' class='btn btn-primary' id='newTask'>New Task</a>
			<hr />
			<table class='table striped'>
				<thead>
					<tr>
						<th>Task ID</th>
						<th>Task Description</th>
						<th>Owner</th>
						<th>Schedule</th>
						<th>Budget</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% _.each(todoList, function(todo){ %>
						<tr>
							<td class="<%= todo.get('statusCheck') %>" ><%= todo.get('taskID')%></td>
							<td class="<%= todo.get('statusCheck') %>" ><%= todo.get('description')%></td>
							<td class="<%= todo.get('statusCheck') %>" ><%= todo.get('owner')%></td>
							<td class="<%= todo.get('statusCheck') %>" ><%= todo.get('schedule')%></td>
							<td class="<%= todo.get('statusCheck') %>" ><%= todo.get('budget')%></td>
							<td><a href='#edit/<%= todo.id %>' class='btn'>Edit</a>
							<a href='#complete/<%= todo.id %>' class='btn'><%= todo.get('statusCheck')!='complete' ? 'Complete' : 'Re-Open' %></a></td>
						</tr>
					<% }); %>
				</tbody>
			</table>
		</script>
	
	<script src='../js/jquery.js'></script>
	<script src='../js/underscore.js'></script>
	<script src='../js/backbone.js'></script>
	<script src="../js/backbone.localStorage.js"></script>
	<script src='../js/validate.js'></script>
	<script src='../js/appTaskList2.js'></script>
	</body>
</html>